<footer style="background-color: #f4f4f4; color: #000000">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-2" style="text-align: center;"><h5>Copyright &copy; 2017</h5><h5>박수진 Park SuJin</h5></div>
      <div class="col-sm-4"><h4>대표자 소개</h4><p>안녕하세요 레시피하우스 대표 박수진 입니다.&nbsp;&nbsp;&nbsp;현재 개발 테스트 중입니다.</p></div>
      <div class="col-sm-2"><h4 style="text-align: center;">네비게이션</h4>
        <div class="list-group">
          <a href="/" class="list-group-item">홈</a>
          <a href="/recipe" class="list-group-item">레시피</a>
          <a href="/posts" class="list-group-item">게시판</a>
          <a href="/material" class="list-group-item">요리정보</a>
        </div>
      </div>
      <div class="col-sm-2"><h4 style="text-align: center;">SNS</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">카카오톡</a>
          <a href="#" class="list-group-item">유튜브</a>
          <a href="#" class="list-group-item">페이스북</a>
        </div>
      </div>
      <div class="col-sm-2"><h4 style="text-align: center;">by 박수진</h4></div>
    </div>
  </div>
</footer>
