<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-material">
    <div class="jumbotron">
     <h1>Recipe House</h1>
     <P>홈페이지 개발 테스트중입니다 </p>
    </div>
    <% include ../partials/footer %>
 </body>
</html>
